<div
	[@enter]="showMenu"
	*ngIf="type == 'overlay' && showMenu"
	class="overlay w-full h-full z-index bg-black-alpha top-0 left-0 cursor-pointer fixed"
	(click)="cerrarMenu()">
</div>

<div
	[@slide]="showMenu"
	[ngClass]="{
		'top-0 left-0 fixed z-index h-full bg-white shadow-md': type == 'overlay',
		'border-0 border-solid border-white': type == 'static'
	}"
	class="flex flex-no-wrap justify-between w-full h-full overflow-auto"
	style="flex-direction: column;"
	[style.width]="width"
	*ngIf="showMenu"
>

	<div class="items-menu h-full relative overflow-auto pb-20 px-10">

		<p style="color: var(--color-title-menu)" class="pb-5 pt-15 mt-5 sticky top-0 left-0 bg-theme-default-page display-block m-0 mb-10 font-bold text-md">Menú de navegación</p>

		<div class="w-full mb-10">
			<a (click)="itemClick()" routerLink="inicio" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Inicio</a>
		</div>

		<div class="w-full mb-10">
			<p class="separator text-theme-bluegray-400 font-bold display-block m-0 mb-5">Consultas</p>
			<a (click)="itemClick()" routerLink="cuentas" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Cuentas</a>
			<a (click)="itemClick()" routerLink="creditos" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Créditos propios</a>
			<a (click)="itemClick()" routerLink="garantias" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Créditos garantizados</a>
			<a (click)="itemClick()" routerLink="polizas" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Pólizas</a>
		</div>

		<div class="w-full mb-10">
			<p class="separator text-theme-bluegray-400 font-bold display-block m-0 mb-5">Transferencias</p>
			<a (click)="itemClick()" routerLink="transferencias/internas" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Entre socios</a>
			<a (click)="itemClick()" routerLink="transferencias/externas" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Otras instituciones</a>
		</div>

		<div class="w-full mb-10">
			<a (click)="itemClick()" routerLink="pagos" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Pago de servicios</a>
		</div>

		<div class="w-full mb-10">
			<p class="separator text-theme-bluegray-400 font-bold display-block m-0 mb-5">Configuración</p>
			<a (click)="itemClick()" routerLink="configuracion/dispositivos" routerLinkActive="selected" class="item-menu display-block m-0 cursor-pointer">Dispositivos</a>
		</div>

	</div>

</div>
