.z-index {
	z-index: 9999999;
}

.item-menu {
	color: var(--color-item-menu);
	background-color: transparent;
	padding: 0.5rem 0rem;

	&:hover {
		color: var(--secondary);
	}

	&.selected {
		padding-left: 0.7rem;
		border-left: 0.2rem solid var(--color-item-menu-selected);
		color: var(--color-item-menu-selected);
		background-color: var(--bg-item-menu-selected);

		&:hover {
			color: var(--color-item-menu-selected);
		}
	}
}

.separator {
	color: var(--color-separator-menu);
}
