<div class="header px-20 menu bg-white w-full">

	<div class="px-20 w-full h-full flex items-center justify-between flex-no-wrap mx-auto" style="max-width: 117rem;">

		<div>
			<ng-container *ngIf="showMenuButton">
				<button (click)="toggleMenu()">MENU</button>
			</ng-container>

		</div>

		<div class="flex items-center">

			<button
				nz-button
				nzType="text"
				nz-popover
				nzPopoverTrigger="click"
				[nzPopoverContent]="contentTemplate"
				[nzPopoverBackdrop]="true"
				nzPopoverOverlayClassName="notifications-background"
				class="relative hover:text-theme-primary"
				nz-tooltip
				nzTooltipTitle="Notificaciones">
				<span nz-icon nzType="notification" nzTheme="outline"></span>

				<div class="w-10 h-10 rounded-full absolute bg-red-600 top-3 right-3"></div>
			</button>

			<div style="height: 3rem;" class="border-r-1 border-solid color-box-border ml-5 mr-12"></div>

			<img class="profile-img mr-7 rounded-full color-box-border border-solid border-1" src="https://avatars.dicebear.com/api/initials/JoseMiguel%20VillaltaHeredia.svg">

			<p class="display-block m-0">JOSE MIGUEL</p>

			<div style="height: 3rem;" class="border-r-1 border-solid color-box-border mx-12"></div>

			<p (click)="cerrarSesion()" class="cursor-pointer display-block text-red-700 m-0 hover:text-red-500">Salir</p>
		</div>

	</div>

</div>

<ng-template #contentTemplate>
	<app-notifications></app-notifications>
</ng-template>
