$menuSize: 5.4rem;

.header {
	height: $menuSize;
	border-top: 3px solid var(--primary);
	border-bottom: 1px solid var(--color-box-border);
	background: #FFF;
}

.profile-img {
	width: 3.2rem;
	height: 3.2rem;
}

.notifications-background {
	& .ant-popover-content {
		& .ant-popover-inner {
			div .ant-popover-inner-content {
				padding: 0 !important;
			}
		}
	}
}
