<div class="w-full border-b-1 border-solid border-gray-300">
	<div class="mx-auto w-full max-width px-20 py-10 flex items-center justify-between">

		<div>
			<a routerLink="/" class="text-black display-block m-0">Gestión Legal</a>
		</div>

		<div class="flex items-center" style="gap: 1rem">
			<a href="/assets/paginas-samuel/Paginas/QuienesSomos.html" target="_blank" class="text-black m-0 display-block p-7">Acerca de</a>
			<a routerLink="plans" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">Precios</a>
			<a routerLink="servicios-judiciales" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">Servicios Judiciales</a>
			<a routerLink="preguntas-frecuentes" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">FAQ</a>
			<a routerLink="create-blog" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">Blog</a>
		</div>

		<div>
			<a routerLink="login" class="m-0 border-0 text-base bg-theme-primary hover:bg-theme-primary-dark text-theme-primary-accent rounded-smd cursor-pointer px-20 py-10 hover:text-white">Acceder</a>
		</div>

	</div>
</div>
