<div class="w-full border-b-1 border-solid border-gray-300">
	<div class="mx-auto w-full max-width px-20 py-10 flex items-center justify-between">

		<div>
			<p class="text-black display-block m-0">Gestión Legal</p>
		</div>

		<div class="flex items-center" style="gap: 1rem">
			<a class="text-black m-0 display-block p-7">Acerca de</a>
			<a class="text-black m-0 display-block p-7">Productos</a>
			<a class="text-black m-0 display-block p-7">Precios</a>
			<a routerLink="servicios-judiciales" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">Servicios Judiciales</a>
			<a routerLink="preguntas-frecuentes" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">FAQ</a>
			<a routerLink="login" routerLinkActive="text-theme-primary" class="text-black m-0 display-block p-7">Login</a>
			<a class="text-black m-0 display-block p-7">Blog</a>
		</div>

		<div>
			<button class="m-0 border-0 text-base bg-theme-primary hover:bg-theme-primary-dark text-theme-primary-accent rounded-smd cursor-pointer px-20 py-10">Comprar</button>
		</div>

	</div>
</div>
