<div class="w-full p-20 pt-40 max-width mx-auto" style="max-width: 40rem;">
    <h2 class="font-bold mb-20 m-0 display-block text-center">Registro</h2>

    <form [formGroup]="form" class="w-full">
        <div class="grid-col-12 mb-20">
            <p class="display-block m-0 mb-7">Nombres</p>

            <input nz-input placeholder="Nombres" formControlName="nombres" nzSize="large" class="text-md rounded px-15 py-12 w-full" type="text">
        </div>
        <div *ngIf="form.get('nombres')?.touched && form.get('nombres')?.errors || form.get('nombres')?.dirty"
            class="mb-20">
            <p *ngIf="form.get('nombres')?.hasError('required')" class="m-0 mt-5 display-block text-red-700">El campo es requerido</p>
        </div>

        <div class="grid-col-12 mb-20">
            <p class="display-block m-0 mb-7">Apellidos</p>

            <input nz-input placeholder="Apellidos" formControlName="apellidos" nzSize="large" class="text-md rounded px-15 py-12 w-full" type="text">
        </div>
        <div *ngIf="form.get('apellidos')?.touched && form.get('apellidos')?.errors || form.get('apellidos')?.dirty"
            class="mb-20">
            <p *ngIf="form.get('apellidos')?.hasError('required')" class="m-0 mt-5 display-block text-red-700">El campo es requerido</p>
        </div>

        <div class="grid-col-12 mb-20">
            <p class="display-block m-0 mb-7">Correo eletrónico</p>

            <input nz-input placeholder="Correo electrónico" formControlName="email" nzSize="large" class="text-md rounded px-15 py-12 w-full" type="email">
        </div>
        <div *ngIf="form.get('email')?.touched && form.get('email')?.errors || form.get('email')?.dirty"
            class="mb-20">
            <p *ngIf="form.get('email')?.hasError('required')" class="m-0 mt-5 display-block text-red-700">El campo es requerido</p>
            <p *ngIf="form.get('email')?.hasError('pattern')" class="m-0 mt-5 display-block text-red-700">El correo no tiene un formato correcto</p>
        </div>

        <div class="grid-col-12 mb-40">
            <p class="display-block m-0 mb-7">Contraseña</p>

            <input nz-input placeholder="Contraseña" formControlName="clave" nzSize="large" class="text-md rounded px-15 py-12 w-full" type="password">
        </div>
        <div *ngIf="form.get('clave')?.touched && form.get('clave')?.errors || form.get('clave')?.dirty"
            class="mb-20">
            <p *ngIf="form.get('clave')?.hasError('required')" class="m-0 mt-5 display-block text-red-700">El campo es requerido</p>
        </div>

        <div class="w-full mb-5">
			<asl-google-signin-button type='standard' size='medium'>
				<div *ngIf="user !== null && logged === false">
					{{ googleSignup() }}
				</div>
			</asl-google-signin-button>
		</div>

        <div class="grid-col-12">
            <button 
                nz-button nzType="primary" 
                nzSize="large" 
                class="w-full"
                [nzLoading]="isLoading"
                (click)="registrarse()">Registrarse</button>
        </div>
    </form>

    <p class="w-full mt-30">Desarrollado por Paul Villalta</p>
</div>