<div class="w-full p-20 pt-40 max-width mx-auto" style="max-width: 80rem;">

	<h2 class="font-bold mb-20 m-0 display-block text-center">Servicios Judiciales</h2>

	<div class="w-full grid">

		<div class="grid-col-12">
			<p class="display-block m-0 mb-7">Búsqueda de lugar</p>

			<div class="w-full flex items-center flex-no-wrap">
				<nz-select [(ngModel)]="categoriaSeleccionada" nzSize="large" nzMode="tags" nzShowSearch
					class="text-md rounded w-full"
					nzPlaceHolder="Buscar lugar">
					<nz-option *ngFor="let option of categorias" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
				</nz-select>

				<button (click)="buscar()" nz-button nzType="primary" nzSize="large" class="ml-7">
					<span nz-icon nzType="search" nzTheme="outline"></span>
				</button>
			</div>
		</div>

		<ng-container *ngIf="busqueda && busqueda.length > 0">
			<div class="grid-col-12">
				<p class="display-block text-center text-black m-0">
					Mostrando resultados para
					<span class="display-inline-block text-theme-primary m-0">{{ busqueda }}</span>
				</p>
			</div>
		</ng-container>

		<div class="grid-col-12 rounded-md p-20 bg-purplegray">
			<div style="height: 450px;"
				leaflet
				[leafletOptions]="options"
				(leafletMapReady)="onMapReady($event)">
			</div>
		</div>

	</div>

</div>
