<h5 class="font-bold m-0 display-block">Consejos de la judicatura</h5>

 

        <ng-container *ngFor="let c of casos">
            <div class="grid-col-3 md:grid-col-4 sm:grid-col-6 xs:grid-col-12 rounded bg-white border-1 border-solid border-gray-500 hover:border-theme-primary px-15 py-10">
                <p class="display-block m-0 mb-7 font-bold">Tipo: {{ c.tipo }}</p>
                <p cl   ass="display-block m-0">Fecha: {{ c.fecha }}</p>
                <p cl   ass="display-block m-0">Actividad: {{ c.actividad }}</p>
            </div>
        </ng-container>

  
    <div class="grid-col-12 border-b-1 border-solid border-gray-400"></div>
  
