<div class="w-screen h-screen grid">

	<div class="grid-col-2 sm:display-none bg-theme-primary"></div>

	<div class="grid-col-12 sm:display-block display-none bg-theme-primary"></div>

	<div class="grid-col-9 sm:grid-col-15 flex sm:display-block items-center">
		<form [formGroup]="form" class="p-20 w-full mx-auto grid" style="max-width: 47rem;">
			<div class="grid-col-12 mb-10">
				<a routerLink="../login" class="mb-5 text-lightblue-600 display-inlineblock m-0">< Iniciar Sesión</a>

				<h3 class="grid-col-12 m-0 display-block font-bold">Registrarse</h3>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Nro. Identificación</p>
				<nz-input-group nzAddOnBeforeIcon="idcard">
					<input nz-input formControlName="NumeroIdentificacion" placeholder="Nro. Identificación" type="text" class="w-full py-5">
				</nz-input-group>

				<ng-container *ngIf="form.get('NumeroIdentificacion')?.errors && form.get('NumeroIdentificacion')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('NumeroIdentificacion')}">
				</ng-container>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Fecha Nacimiento</p>
				<nz-input-group nzAddOnBeforeIcon="calendar">
					<nz-date-picker [nzFormat]="env.dateFormat" formControlName="FechaNacimiento"
						nzPlaceHolder="Fecha Nacimiento" class="custom-element"
						[nzDisabledDate]="disabledDate"></nz-date-picker>
				</nz-input-group>

				<ng-container *ngIf="form.get('FechaNacimiento')?.errors && form.get('FechaNacimiento')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('FechaNacimiento')}">
				</ng-container>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Número de cuenta</p>
				<nz-input-group nzAddOnBeforeIcon="dollar-circle">
					<input nz-input formControlName="NumeroCuenta" placeholder="Número de cuenta" type="text" class="w-full py-5">
				</nz-input-group>

				<ng-container *ngIf="form.get('NumeroCuenta')?.errors && form.get('NumeroCuenta')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('NumeroCuenta'), dictionary: {pattern: 'El número de cuenta solo puede contener números'}}">
				</ng-container>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Nombre de usuario</p>
				<nz-input-group nzAddOnBeforeIcon="user">
					<input nz-input formControlName="Usuario" placeholder="Nombre de usuario" type="text" class="w-full py-5">
				</nz-input-group>

				<ng-container *ngIf="form.get('Usuario')?.errors && form.get('Usuario')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('Usuario'), dictionary: {
						pattern: 'El nombre de usuario no puede contener espacios ni caracteres especiales',
						minlength: 'Debe ingresar mínimo 5 caracteres'
					}}">
				</ng-container>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Contraseña</p>
				<nz-input-group nzAddOnBeforeIcon="lock">
					<input nz-input formControlName="Clave" placeholder="Contraseña" type="password" class="w-full py-5">
				</nz-input-group>

				<ng-container *ngIf="form.get('Clave')?.errors && form.get('Clave')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('Clave')}">
				</ng-container>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Repita su contraseña</p>
				<nz-input-group nzAddOnBeforeIcon="lock">
					<input nz-input formControlName="RepClave" placeholder="Repita su contraseña" type="password" class="w-full py-5">
				</nz-input-group>

				<ng-container *ngIf="form.get('RepClave')?.errors && form.get('RepClave')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('RepClave')}">
				</ng-container>
			</div>

			<div class="grid-col-12">
				<p class="display-block mb-5 m-0 text-black">Código PIN (4 dígitos)</p>
				<nz-input-group nzAddOnBeforeIcon="holder">
					<input nz-input formControlName="Pin" placeholder="Código PIN (4 dígitos)" type="tel" class="w-full py-5">
				</nz-input-group>

				<ng-container *ngIf="form.get('Pin')?.errors && form.get('Pin')?.dirty"
					[ngTemplateOutlet]="formErrorTemplate"
					[ngTemplateOutletContext]="{field: form.get('Pin'), dictionary: {pattern: 'El código PIN debe ser de 4 dígitos'}}">
				</ng-container>
			</div>

			<ng-container *ngIf="errors && errors.length > 0">
				<div class="grid-col-12 px-10 py-7 border-1 border-solid border-red-700 bg-redgray rounded-sm">
					<ng-container *ngFor="let e of errors; let isLast = last">
						<p
							class="text-red-800 display-block m-0"
							[ngClass]="{'mb-7': !isLast}">{{ e.text }}</p>
					</ng-container>
				</div>
			</ng-container>

			<button nz-button (click)="registrarse()" [nzLoading]="isLoading" type="button" nzType="primary" class="mt-10 grid-col-12">Crear cuenta</button>
		</form>
	</div>

</div>

<ng-template #formErrorTemplate let-field="field" let-dictionary="dictionary">
	<div class="w-full pt-5">
		<ng-container *ngFor="let item of field.errors | keyvalue">
			<p class="m-0 mt-5 display-block text-red-700">
				{{ dictionary && dictionary[item.key+''] ? dictionary[item.key+''] : formsMappings[item.key+'']?.replace('{param}', item.value) }}</p>
		</ng-container>
	</div>
</ng-template>
