<div class="w-full p-20 pt-40 max-width mx-auto" style="max-width: 80rem;">

	<h2 class="font-bold mb-20 m-0 display-block text-center">Preguntas Frecuentes</h2>

	<div class="w-full grid">

		<div class="grid-col-12">
			<p class="display-block m-0 mb-7">Filtro de preguntas frecuentes</p>

			<input nz-input placeholder="Filtro de preguntas" 
				[(ngModel)]="busqueda" 
				(ngModelChange)="onBusquedaChange($event)"
				nzSize="large" 
				class="text-md rounded px-15 py-12 w-full" 
				type="text">
		</div>

		<ng-container *ngIf="busqueda && busqueda.length > 0">
			<div class="grid-col-12">
				<p class="display-block text-center text-black m-0">
					Mostrando
					<span class="display-inline-block text-theme-primary m-0">{{ itemsEncontrados }}</span> 
					resultados para
					<span class="display-inline-block text-theme-primary m-0">{{ busqueda }}</span>
				</p>
			</div>
		</ng-container>

		<ng-container>
			<div @fadeInOut class="grid-col-12 rounded border-1 border-solid border-gray-400">
				<ng-container *ngFor="let p of preguntasFrecuentes | search: busqueda">
					<div class="w-full border-b-1 border-solid border-gray-400 p-15">
						<h4 class="font-bold display-block m-0 mb-10">{{ p.pregunta }}</h4>
	
						<p class="display-block m-0">{{ p.respuesta }}</p>
					</div>
				</ng-container>
			</div>
		</ng-container>

	</div>

	<p class="w-full mt-30">Desarrollado por Paul Villalta</p>

</div>
