<div class="w-full">

	<h4 class="font-bold text-theme-primary m-0 display-block mb-20">Servicios disponibles</h4>

	<div class="w-full grid mb-20">

		<div class="grid-col-12">
			<input nz-input placeholder="Buscar servicios" type="text" class="w-full color-box-border py-5">
		</div>

		<div class="cursor-pointer hover:scale bg-white grid-col-3 rounded border-solid border-1 color-box-border p-10 text-center">

			<img class="display-inline-block m-0 w-full" style="max-width: 9rem;" src="https://play-lh.googleusercontent.com/Pav4o0U_oGAqzrYKaghNLOl5L53EcjsDKuOOCtvuuHfMsZZfvjVTpIRTOcR57hL3hS0">

			<p class="display-block m-0 mt-7">
				IESS
			</p>

		</div>

	</div>

</div>
