<div class="w-screen flex items-center justify-center sm:display-block p-50" style="min-height: 100vh;">

	<div style="max-width: 45rem;" class="w-full text-center">
		<img src="./assets/errors/error-404.png" class="display-block mx-auto w-full" style="max-width: 15rem;">

		<h3 class="mt-20 mb-7 font-bold text-theme-primary m-0 display-block text-center">
			Página no encontrada
		</h3>

		<p class="text-gray-900 text-md display-block text-center mb-20">
			La página solicitada no ha sido encontrada.
			Si escribió la URL directamente en su navegador, asegúrese de que la ortografía es correcta.
			Si ha hecho clic en un enlace para llegar al sitio, puede que el enlace esté obsoleto.
		</p>

		<a href="/inicio" h nz-button nzType="primary">Ir al inicio</a>
	</div>

</div>
