<h4 class="font-bold text-theme-primary m-0 display-inline-block mb-20">
	¡Bienvenido
	<h4 class="font-bold text-theme-secondary m-0 display-inline-block">José Miguel</h4>!
</h4>

<div class="w-full grid">

	<app-slider-marketing [categoria]="1"></app-slider-marketing>

	<div class="grid-col-6 bg-white rounded border-solid border-1 color-box-border p-12">
		<p class="text-center font-bold display-block m-0 text-md">Estado de cuentas</p>
		<p class="text-center m-0 display-block mb-5 text-smd text-gray-600">Últimos 150 días</p>

		<div class="chart-wrapper w-full mx-auto text-center">
			<canvas baseChart [type]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions">
			</canvas>
		</div>
	</div>

	<div class="grid-col-6">
		<div class="w-full grid gap-15">
			<ng-container *ngFor="let i of [1,1,1,1,1]">
				<div class="hover:scale cursor-pointer bg-white grid-col-4 border-solid border-1 color-box-border rounded p-10">
					<img src="https://cdn-icons-png.flaticon.com/512/2493/2493833.png"
						style="max-width: 5.5rem" class="w-full display-block m-0 mx-auto">

					<p class="display-block text-center m-0 text-black mt-7">Atajo</p>
				</div>
			</ng-container>
		</div>
	</div>

</div>
