<h4 class="font-bold text-theme-primary m-0 display-inline-block mb-20">Transferencias entre
	<h4 class="font-bold text-theme-secondary m-0 display-inline-block">socios de la cooperativa</h4>
</h4>

<div class="grid">

	<div class="grid-col-7 sm:grid-col-12">

		<form [formGroup]="form" class="w-full">

			<div class="w-full mb-20">
				<p class="text-black display-block m-0 mb-7">
					Cuenta origen
					<span class="display-inline-block color-input-required">*</span>
				</p>

				<vs-select-cuenta-origen
					formControlName="cuentaOrigen"
					[requiredAmount]="form.get('valor')?.value"></vs-select-cuenta-origen>
			</div>

			<div class="w-full mb-20">
				<p class="text-black display-block m-0 mb-7">
					Cuenta de destino
					<span class="display-inline-block color-input-required">*</span>
				</p>

				<vs-select-cuenta-dest-int></vs-select-cuenta-dest-int>
			</div>

			<div class="w-full mb-20">
				<p class="text-black display-block m-0 mb-7">
					Valor a transferir
					<span class="display-inline-block color-input-required">*</span>
				</p>

				<nz-input-group
					class="w-full"
					nzAddOnBeforeIcon="dollar">
					<input type="number" min="0.01" formControlName="valor" nz-input placeholder="0.00" class="py-5" />
				</nz-input-group>
			</div>

			<div class="w-full mb-20">
				<p class="text-black display-block m-0 mb-7">
					Observaciones
				</p>

				<textarea nz-input placeholder="No obligatorio" formControlName="observaciones" [nzAutosize]="{ minRows: 3, maxRows: 4 }" class="w-full py-5"></textarea>
			</div>

			<div class="w-full pt-10">
				<button (click)="realizarTransferencia()" type="button" nz-button nzType="primary" class="w-full">Realizar Transferencia</button>
			</div>

		</form>


	</div>

	<div class="grid-col-5 sm:grid-col-12">
		<div class="grid w-full">
			<app-slider-marketing [categoria]="2"></app-slider-marketing>
		</div>
	</div>

</div>

