<nz-select
	class="w-full vs-select-cuenta-origen"
	[nzPlaceHolder]="lyNoSelected"
	[nzAllowClear]="false"
	[nzCustomTemplate]="defaultTemplate"
	[disabled]="isDisabled"
	[ngModel]="value"
	(ngModelChange)="change($event)"
	[nzLoading]="isLoading">

	<ng-container *ngFor="let c of cuentasOrigen">
		<nz-option [nzLabel]="c.descripcion + ' #' + c.aliasCuenta" [nzValue]="c"></nz-option>
	</ng-container>

</nz-select>

<ng-template #lyNoSelected>

	<ng-container *ngIf="!isLoading; else tmpLoading">
		<ng-container *ngIf="!errors; else tmpErrors">
			<div class="h-full flex items-center">
				<p
					style="user-select: none;"
					class="white-space text-theme-primary px-12 display-block m-0 w-full">{{ placeholder }}</p>
			</div>
		</ng-container>
	</ng-container>

</ng-template>

<ng-template #tmpLoading>
	<div class="h-full w-full flex items-center overflow-hidden py-5 pl-12">
		<span nz-icon nzType="loading" nzTheme="outline"></span>
		<p
			style="user-select: none;"
			class="white-space text-disabled px-12 pl-7 display-block m-0">Cargando cuentas de origen</p>
	</div>
</ng-template>

<ng-template #defaultTemplate let-selected>
	<div class="px-12 py-7" [@fadeInOut]>
		<div class="flex justify-between">
			<div>
				<p class="text-smd m-0 color-label-secondary display-block">Tipo de cuenta</p>
				<p class="font-bold m-0 text-theme-primary display-block">{{ selected.nzValue.descripcion }}</p>
			</div>

			<div class="text-right sm:text-left">
				<p class="text-smd m-0 color-label-secondary display-block">Disponible</p>
				<p class="font-bold m-0 text-theme-primary display-block"
					[ngClass]="{
						'text-red-700': requiredAmount != -1 && selected.nzValue.saldoDisponible  < requiredAmount,
						'text-theme-primary': requiredAmount == -1 || selected.nzValue.saldoDisponible  >= requiredAmount
					}">{{ selected.nzValue.saldoDisponible | currency }}</p>
			</div>

		</div>

		<p class="mt-12 secondary-label m-0 color-label-secondary display-block">
			Nro. Cuenta:
			<b class="secondary-label display-inline-block m-0 text-black">
				{{ selected.nzValue.aliasCuenta }}
			</b>
		</p>
	</div>
</ng-template>

<ng-template #tmpErrors>
	<div class="h-full w-full flex items-center overflow-hidden py-5">
		<ng-container *ngFor="let e of errors">
			<p [@fadeInOut]
				style="user-select: none;"
				class="white-space text-red-700 px-12 display-block m-0">{{ e.text }}</p>
		</ng-container>
	</div>
</ng-template>
