<div class="container">
                    
    <section class="section1 border">
        <!--Portada-->
        <div class="cuadroTexto">
          <h1 class="font-bold mb-20 m-0 display-block">Sobre Nosotros</h1>
          <p>Gestión Legal es un proyecto que nació como 
              respuesta a la necesidad de las personas 
              jurídicas para tener un control ordenado y 
              confiable de los procesos legales de sus representados.
            </p>
        </div>

    </section>

    <section class="section2 border">
      <!--Seccion2-->
      <div class="frase border">
        <h1 class="font-bold mb-20 m-0 display-block longitudF" > 
          Comprometidos en ofrecer un servicio en línea accesible y 
          seguro con la información legal con fidelidad a lo publicado 
          en el Registro Oficial y otras fuentes de información legal.  
        </h1>
        
      </div>
      <div class="widget1 border">
        <p class="longitudT">Presenta y facilita el acceso 
          a todos los procesos legales de su 
          interés, además se le proporciona todas 
          las disposiciones jurídicas de medios oficiales.
        </p>
        <img src="/assets/images/laptop.svg" alt="laptop" class="imagen-seccion2">
      </div>
      <div class="widget2 border">
        <p class="longitudT">Actualiza frecuentemente la normativa del 
          estado frente a cambios que se expidan, 
          con la finalidad que nuestros clientes 
          accedan a un contenido confiable.
        </p>
        <img src="/assets/images/usuario.svg" alt="usuario" class="imagen-seccion2">
        
      </div>
      <div class="widget3 border">
        <p class="longitudT">Conecta y vincula todos los contenidos 
          con leyes, ordenanzas, reglamentos y 
          todo lo que se refierea una disposición jurídica,
          posibilitando tener un conocimiento amplio 
          y profundo de lo relacionado con una norma.
        </p>
        <img src="/assets/images/balanza.svg" alt="balanza" class="imagen-seccion2">
      </div>
      <div class="widget4 border">
        <p class="longitudT">Ofrece una guía e información de detallada de
          los servicios judiciales como unidades judiciales, 
          notarias y centros de mediación permitiendo planificar 
          la mejor ruta para arribar su destino.
        </p>
        <img src="/assets/images/maps.svg" alt="maps" class="imagen-seccion2">
      </div>


    </section>

    <section class="section3 border">
        <!--Seccion3-->
        <div class="encabezado border">
          <h1 class="font-bold mb-20 m-0 display-block">Nuestro Equipo Directivo</h1>
        </div>
        
        <div class="equipo border">
          <figure>
            <img src="/assets/images/alexander.jpg" alt="equipoDirectivo" class="imagen-seccion3">
            <!-- <figcaption>Alexander Peñaloza</figcaption> -->
            <p style="font-weight: bold; display: block">Alexander Peñaloza</p>
          </figure>
          <figure>
            <img src="/assets/images/steven.jpg" alt="equipoDirectivo" class="imagen-seccion3">
            <p style="font-weight: bold; display: block">Steven Muñoz</p>
          </figure>
          <figure>
            <img src="/assets/images/paul.jpg" alt="equipoDirectivo" class="imagen-seccion3">
            <p style="font-weight: bold; display: block">Paúl Villalta</p>
          </figure>
          <figure>
            <img src="/assets/images/samuel.jpg" alt="equipoDirectivo" class="imagen-seccion3">
            <p style="font-weight: bold; display: block">Samuel Pacurucu</p>
          </figure>

        </div>
        

    </section>

</div>
