<!-- <div class="bg-red-500 w-full h-screen flex items-center justify-center"> -->
<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1> -->

<!-- <p>login works!</p>

<app-header></app-header>

<button (click)="probar()">click me</button> -->

<!-- <h6 [style.background]="age > 18 ? 'green' : 'red'" [style.color]="'white'">
  your age is {{ age }}
</h6>

<div *ngIf="age > 15">
  <p>you are old</p>
</div>
<div *ngIf="age <= 15">
  <p>you are young</p>
</div> -->

<!-- 
<h3>
  List of users
  <p>{{ names }}</p>
  <p>{{ names[1] }}</p>

  <ul>
    <li *ngFor="let name of names; let myIndex = index">
      {{ myIndex + 1 + ". " + name }}
    </li>
  </ul>
</h3> -->
