<div class="mt-40 mx-auto" style="max-width: 40rem">
	<h2 class="font-bold mb-20 m-0 display-block text-center">
		Iniciar Sesión
	</h2>

	<form [formGroup]="form" class="w-full">
		<div class="grid-col-12 mb-20">
			<p class="display-block m-0 mb-7">Correo electrónico</p>
			<input
				nz-input
				placeholder="Correo electrónico"
				formControlName="email"
				nzSize="large"
				class="text-md rounded px-15 py-12 w-full"
				type="email"
			/>
		</div>
		<div
			*ngIf="
				(form.get('email')?.touched && form.get('email')?.errors) ||
				form.get('email')?.dirty
			"
			class="mb-20"
		>
			<p
				*ngIf="form.get('email')?.hasError('required')"
				class="m-0 mt-5 display-block text-red-700"
			>
				El campo es requerido
			</p>
			<p
				*ngIf="form.get('email')?.hasError('pattern')"
				class="m-0 mt-5 display-block text-red-700"
			>
				El correo no tiene un formato correcto
			</p>
		</div>

		<!-- password -->
		<div class="grid-col-12 mb-20">
			<p class="display-block m-0 mb-7">Contraseña</p>
			<input
				nz-input
				placeholder="Contraseña"
				formControlName="password"
				nzSize="large"
				class="text-md rounded px-15 py-12 w-full"
				type="password"
			/>
		</div>
		<div
			*ngIf="
				(form.get('password')?.touched &&
					form.get('password')?.errors) ||
				form.get('password')?.dirty
			"
			class="mb-20"
		>
			<p
				*ngIf="form.get('password')?.hasError('required')"
				class="m-0 mt-5 display-block text-red-700"
			>
				El campo es requerido
			</p>
		</div>

		<div class="grid-col-12 mb-20">
			<button
				nz-button
				nzType="primary"
				nzSize="large"
				class="w-full"
				[nzLoading]="isLoading"
				(click)="login()"
			>
				Ingresar
			</button>
		</div>

		<div class="grid-col-12 mb-5">
			<button
				nz-button
				nzType="primary"
				nzSize="large"
				class="w-full"
				[nzLoading]="isLoading"
				(click)="googleLogin()"
			>
				Inicia sesión con Google
			</button>
		</div>

		<div class="grid-col-12 mb-5">
			<button
				nz-button
				nzType="primary"
				nzSize="large"
				class="w-full"
				[nzLoading]="isLoading"
				(click)="facebookLogin()"
			>
				Inicia sesión con Facebook
			</button>
		</div>

		<!-- signup link -->
		<div class="grid-col-12 justify-center text-center">
			<a
				class="text-md rounded px-15 py-12"
				[routerLink]="['/signup']"
				style="width: 100%"
			>
				Regístrate
			</a>
		</div>
	</form>
</div>

<!--  -->

<h1>Google Login</h1>

<asl-google-signin-button type='standard' size='medium'>
	Iniciar sesión con Google
</asl-google-signin-button>

<!--  -->


<div class="container" style="max-width: 550px">
  <h2 class="text-center mb-5">Angular Login with Google</h2>
  <div *ngIf="isLoggedin === false">
    <div>
      <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
    </div>
  </div>
  <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
    </div>
    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
  <h2 class="text-center mb-5">Angular Login with Google</h2>

</div>