.bg-card-1 {
	background-image: linear-gradient(
		115deg,
		hsl(212deg 18% 33%) 0%,
		hsl(213deg 19% 31%) 12%,
		hsl(213deg 21% 29%) 24%,
		hsl(214deg 22% 27%) 35%,
		hsl(215deg 24% 25%) 47%,
		hsl(216deg 27% 22%) 58%,
		hsl(216deg 29% 20%) 69%,
		hsl(217deg 33% 18%) 80%,
		hsl(218deg 37% 16%) 90%,
		hsl(218deg 42% 14%) 100%
	  );
}

.bg-card-2 {
	background: rgb(56,177,125);
	background: linear-gradient(90deg, rgb(69, 151, 116) 0%, rgba(20,79,90,1) 100%);
}

.bg-card-3 {
	background-image: linear-gradient(
		115deg,
		hsl(37deg 60% 55%) 0%,
		hsl(35deg 56% 51%) 12%,
		hsl(33deg 58% 47%) 24%,
		hsl(31deg 62% 44%) 35%,
		hsl(29deg 67% 40%) 47%,
		hsl(26deg 72% 37%) 58%,
		hsl(24deg 78% 33%) 69%,
		hsl(21deg 84% 30%) 80%,
		hsl(18deg 91% 27%) 90%,
		hsl(14deg 100% 23%) 100%
	  );
}

.modal-comprobante, .modal-no-spacing {
	.ant-modal-header {
		padding: 0;
	}

	.ant-modal-body {
		padding: 0;
	}

	.ant-modal-footer {
		padding: 0;
	}
}

.skeleton {
    animation: skeleton-loading 0.8s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--bg-skeleton);
    }

    100% {
        background-color: var(--bg-skeleton-animation);
    }
}

.skeleton-dark {
    animation: skeleton-dark-loading 0.8s linear infinite alternate;
}

@keyframes skeleton-dark-loading {
    0% {
        background-color: var(--bg-skeleton-dark);
    }

    100% {
        background-color: var(--bg-skeleton-dark-animation);
    }
}
