.modal-comprobante, .modal-no-spacing {
	.ant-modal-header {
		padding: 0;
	}

	.ant-modal-body {
		padding: 0;
	}

	.ant-modal-footer {
		padding: 0;
	}
}

.skeleton {
    animation: skeleton-loading 0.8s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--bg-skeleton);
    }

    100% {
        background-color: var(--bg-skeleton-animation);
    }
}

.skeleton-dark {
    animation: skeleton-dark-loading 0.8s linear infinite alternate;
}

@keyframes skeleton-dark-loading {
    0% {
        background-color: var(--bg-skeleton-dark);
    }

    100% {
        background-color: var(--bg-skeleton-dark-animation);
    }
}

.max-width {
	max-width: 110rem;
}
