<h4 class="font-bold text-theme-primary m-0 display-block mb-20">
	<a href="cuentas" class="h4 font-bold text-theme-primary m-0 display-inline-block opacity-50 hover:opacity-100">
		Listado de cuentas >
	</a>
	{{ alias }}
</h4>

<div class="w-full grid">

	<div class="grid-col-12 rounded px-15 py-12 bg-card-1">
		<div class="flex items-center justify-between">
			<div>
				<p class="display-block m-0 text-smd text-white">Tipo de cuenta</p>
				<p class="font-bold display-block m-0 text-white">AHORROS A LA VISTA</p>
			</div>

			<div class="flex">
				<div class="pl-20">
					<p class="display-block m-0 text-smd text-white">Saldo total</p>
					<p class="font-bold display-block m-0 text-white">$10.00</p>
				</div>
				<div class="pl-20">
					<p class="display-block m-0 text-smd text-white">Saldo disponible</p>
					<p class="font-bold display-block m-0 text-white">$10.00</p>
				</div>
				<div class="pl-20">
					<p class="display-block m-0 text-smd text-white">Saldo bloqueado</p>
					<p class="font-bold display-block m-0 text-white">$10.00</p>
				</div>
			</div>
		</div>
	</div>

	<div class="relative bg-white grid-col-12 rounded border-1 border-solid color-box-border contenedor-movimientos">
		<div class="w-full px-15 py-15 border-b-1 border-solid color-box-border flex items-end">
			<div>
				<p class="display-block m-0 mb-5 text-black">Rango de fechas</p>
				<nz-range-picker [(ngModel)]="fechas" nzSize="small"
					nzFormat="dd/MM/yyyy"
					class="color-input-border py-3"></nz-range-picker>
			</div>

			<button (click)="obtenerMovimientos()" [nzLoading]="loading.movimientos" nz-button nzType="primary" class="py-3 custom-btn-size ml-15">
				<span nz-icon nzType="search" nzTheme="outline"></span>
				Consultar
			</button>

			<button nz-button nzType="primary" class="py-3 btn-pdf custom-btn-size ml-15">
				<span nz-icon nzType="file-pdf" nzTheme="outline"></span>
				Descargar PDF
			</button>
		</div>

		<ng-container *ngIf="!loading.movimientos; else loadingTmpl">
			<ng-container *ngIf="!error; else errorTmpl">
				<ng-container *ngIf="movimientos && movimientos.length > 0; else noDataTmpl">
					<ng-container *ngFor="let c of movimientos">
						<div class="sticky left-0 w-full bg-separator border-b-1 border-solid color-box-border px-10 grid-col-12 py-5"
							style="top: -2rem">
							<p class="separator-text m-0 color-separator display-block font-bold">{{ c.label | titlecase }}</p>
						</div>

						<ng-container *ngFor="let m of c.data">
							<div class="flex justify-between flex-no-wrap items-center w-full border-b-1 border-solid color-box-border px-15 py-12 pr-0 item-movimiento"
							[@fadeInOut]>

								<div>
									<p class="text-black display-block m-0">{{ m.transaccion }}</p>
									<p class="display-block text-gray-700 m-0 text-smd">Comprobante {{ m.numeroComprobante }}</p>
								</div>

								<div class="flex items-center flex-no-wrap">
									<div>
										<p class="m-0 text-md font-bold text-right display-block"
											[ngStyle]="{
												'color': m.valorTransaccion > 0 ? '#0ca041' :
														 m.valorTransaccion < 0 ? 'rgb(226, 15, 50)' : '#0d415c'
											}">{{ m.valorTransaccion | currency }}</p>
										<p class="m-0 text-smd text-right display-block text-gray-800">
											{{ m.valorTotal | currency }}
										</p>
									</div>

									<button nz-button nzType="text" class="ml-5 text-gray-600 hover:text-theme-primary mx-3">
										<span nz-icon nzType="select" class="text-smd" nzTheme="outline"></span>
									</button>
								</div>

							</div>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>

</div>

<!--LOADING-->
<ng-template #loadingTmpl>
	<ng-container *ngFor="let i of [1,1,1,1]">
		<div class="sticky left-0 w-full bg-separator border-b-1 border-solid color-box-border px-10 grid-col-12 py-5"
			style="top: -2rem">
			<div class="display-block skeleton-dark rounded-sm h-20" style="width: 15rem;"></div>
		</div>

		<div class="flex justify-between flex-no-wrap items-center w-full border-b-1 border-solid color-box-border px-15 py-12 pr-0 item-movimiento">
			<div>
				<div class="display-block skeleton rounded-sm h-20 mb-7" style="width: 22rem"></div>
				<div class="display-block skeleton rounded-sm h-15" style="width: 17rem"></div>
			</div>

			<div class="flex items-center flex-no-wrap pr-7">
				<div>
					<div class="display-block skeleton rounded-sm h-15 w-30 mb-5"></div>
					<div class="display-block skeleton rounded-sm h-12 w-20"></div>
				</div>
			</div>
		</div>
	</ng-container>
</ng-template>

<!--NO DATA FOUND-->
<ng-template #noDataTmpl>
	<div class="grid-col-12 px-20 py-20">
		<nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
			[nzNotFoundContent]="contentTpl">
			<ng-template #contentTpl>
				<span>
					No hay movimientos disponibles entre las fechas {{ fechas[0] | date:'dd/MM/yyyy' }} y {{ fechas[1] | date:'dd/MM/yyyy' }}
				</span>
			</ng-template>
		</nz-empty>
	</div>
</ng-template>

<!--ERROR-->
<ng-template #errorTmpl>
	<div class="grid-col-12 bg-white rounded-sm p-20 text-center">

		<h4 class="font-medium text-red-700 display-block m-0 mb-20 text-center">
			Ocurrió un error al obtener los movimientos
		</h4>

		<ng-container *ngFor="let e of error">
			<p nz-paragraph class="w-full m-0 mb-7 text-center">
				<span nz-icon class="mr-7 text-red-700" nzType="close-circle"></span>
				{{ e.text }}
			</p>
		</ng-container>

		<button nz-button (click)="obtenerMovimientos()" class="mt-10">Volver a intentar</button>
	</div>
</ng-template>
