.bg-comprobante {
	background-image: url(../../../assets/images/fondo-comprobante.png);
	background-size: 45rem;
	background-repeat: repeat-x;
	padding-top: 3.5rem;
}

.btn-secondary {
	background: var(--secondary);
	border-color: var(--secondary);

	&:hover {
		background: var(--secondary-accent);
		border-color: var(--secondary-accent);
	}
}
