<ng-container *nzModalTitle>
	<div class="px-20 py-15 justify-between flex items-center flex-no-wrap">
		<p class="text-lg display-block m-0 font-bold mr-7">Comprobante de transacción</p>

		<button nz-button>Descargar</button>
	</div>
</ng-container>

<div class="w-full bg-comprobante py-25 px-30">

	<ng-container *ngFor="let d of data">
		<div class="w-full mt-15 text-center">
			<p class="display-block m-0 text-gray-700">{{ d.label }}</p>

			<ng-container *ngIf="d.isFeatured">
				<h2 class="font-bold display-block m-0 text-theme-primary">{{ d.value }}</h2>
			</ng-container>

			<ng-container #normalText>
				<p class="text-black dispaly-block m-0 text-md">{{ d.value }}</p>
			</ng-container>
		</div>
	</ng-container>
<!--
	<div class="w-full mt-15 text-center">
		<p class="display-block m-0 text-gray-700">Valor</p>
		<h2 class="font-bold display-block m-0 text-theme-primary">$10.00</h2>
	</div>

	<div class="w-full mt-15 text-center">
		<p class="display-block m-0 text-gray-700">Número de referencia</p>
		<p class="text-black dispaly-block m-0 text-md">#1234556546</p>
	</div>

	<div class="w-full mt-15 text-center">
		<p class="display-block m-0 text-gray-700">Comprobante enviado a</p>
		<p class="text-black dispaly-block m-0 text-md">josevillalta@vimasistem.com</p>
	</div>

	<div class="w-full mt-15 text-center">
		<p class="display-block m-0 text-gray-700">Fecha transacción</p>
		<p class="text-black dispaly-block m-0 text-md">12/12/2022 00:00</p>
	</div>

	<div class="w-full mt-15 text-center">
		<p class="display-block m-0 text-gray-700">Observaciones</p>
		<p class="text-black dispaly-block m-0 text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsum.</p>
	</div> -->

	<div class="w-full mt-15 text-center">
		<button nz-button nzType="primary" class="btn-secondary w-full" style="max-width: 14rem;">ACEPTAR</button>
	</div>

</div>
