<div class="container">

    <section class="seccion1 border">
        <div class="tituloAutor border">
            <img src="/assets/images/fondoBlog.jpg" alt="fondoBlog">
            <div class="textoEncima">
                <h1 class="font-bold mb-20 m-0 display-block">Blog Post Title</h1>
                <p>
                    dia mes anio Por Autor Blog
                </p>
            </div>
            
        </div>
        <div class="imagenB border">
            <img src="/assets/images/imagenBlog.jpg" alt="imagenBlog" >
        </div>

        <div class="compartir">
            <a href="https://www.facebook.com">
                <img src="/assets/images/facebook.svg" alt="facebook" class="compartirTam" >
            </a>
            <a href="https://www.instagram.com/">
                <img src="/assets/images/instagram.svg" alt="instagram" class="compartirTam">
            </a>
            <a href="https://twitter.com/">
                <img src="/assets/images/twitter.svg" alt="twitter" class="compartirTam">
            </a>
            <a href="whatsapp://send?text=Hola%20WhatsApp!">
                <img src="/assets/images/whatsapp.svg" alt="whatsapp" class="compartirTam">
            </a>
        </div>
    </section>
    <section class="seccion2 border">
        <textarea type="text" name="informacionB" id="informacionB">
            AQUI VA TODA LA INFORMACION DE UN BLOG CREADO
        </textarea>
    </section>
    <section class="seccion3 border">
        <div class="calificar border">
            <label for="califica">Califica este blog:</label>
            <img id="megusta" src="/assets/images/like.svg" alt="like">
            <label id="Nmegusta"for="likes">346</label>
            <img id="nomegusta" src="/assets/images/dislike.svg" alt="dislike">
            <label id="Nnomegusta" for="dislikes">231</label>
        </div>
        <div class="comentario border">
            <form >


                <h1 class="font-bold mb-20 m-0 display-block">Deja un comentario a continuacion:</h1>
                <label for="comentarioB">Comentar *</label><br>
                <textarea nz-input type="text" name="comentarioB" id="comentarioBI" required ></textarea><br><br>
                <label for="nombre">Nombre *</label>
                <input nz-input placeholder="Nombre" class="text-md rounded px-15 py-12 w-full" type="text" name="nombre" id="nombreBI" required><br>
                <label for="email">Correo electrónico *</label>
                <input nz-input placeholder="Correo electrónico" class="text-md rounded px-15 py-12 w-full" type="email" name="email" id="emailBI" required><br>
                <!-- <button type="button" onclick="validarFormulario()">PUBLICAR COMENTARIO</button> -->
                <button nz-button nzType="primary" style="min-width: 30px;">PUBLICAR COMENTARIO</button>

            </form>    
        </div>
    </section>
    <section id="seccionComentarios" class="seccion4 border">
        <div>
            <h1 class="font-bold mb-20 m-0 display-block" style="text-decoration: underline;">Comentarios</h1>
        </div>

        <div class="comment">
            <div class="comment-header">
              <img src="/assets/images/usuario.svg" alt="Avatar del autor">
              <h4 class="comment-author">Autor1</h4>
              <span class="comment-date">Abril 22, 2023 11:52:12 PM</span>
            </div>
            <div class="comment-body">
              <p>Contenido del comentario, este es un excelnete blog.........................</p>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
              <img src="/assets/images/usuario.svg" alt="Avatar del autor">
              <h4 class="comment-author">Autor2</h4>
              <span class="comment-date">Abril 22, 2023 11:52:12 PM</span>
            </div>
            <div class="comment-body">
              <p>Contenido del comentario, este es un excelnete blog.........................</p>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
              <img src="/assets/images/usuario.svg" alt="Avatar del autor">
              <h4 class="comment-author">Autor3</h4>
              <span class="comment-date">Abril 22, 2023 11:52:12 PM</span>
            </div>
            <div class="comment-body">
              <p>Contenido del comentario, este es un excelnete blog.........................</p>
            </div>
        </div>

    </section>

</div>



