<div class="container">

    <section class="seccion1 border">
        <div class="tituloAutor border">
            <img src="/assets/images/fondoBlog.jpg" alt="fondoBlog">
            <!-- <img src="{{blogA.imagen}}" alt="fondoBlog"> -->
            <div class="textoEncima">
                <h1 class="font-bold mb-20 m-0 display-block">{{blogA.titulo}}</h1>
                <p>
                    {{blogA.fecha | date:'medium'}} Por {{blogA.nombres}} {{blogA.apellidos}}
                </p>
            </div>
            
        </div>
        <div class="imagenB border">
            <img src="{{blogA.imagen}}" alt="imagenBlog" >
        </div>

        <div class="compartir">
            <a href="https://www.facebook.com">
                <img src="/assets/images/facebook.svg" alt="facebook" class="compartirTam" >
            </a>
            <a href="https://www.instagram.com/">
                <img src="/assets/images/instagram.svg" alt="instagram" class="compartirTam">
            </a>
            <a href="https://twitter.com/">
                <img src="/assets/images/twitter.svg" alt="twitter" class="compartirTam">
            </a>
            <a href="whatsapp://send?text=Hola%20WhatsApp!">
                <img src="/assets/images/whatsapp.svg" alt="whatsapp" class="compartirTam">
            </a>
        </div>
    </section>
    <section class="seccion2 border">
        <textarea class="font-bold mb-20 m-0 display-block" type="text" name="informacionB" id="informacionB">
            {{blogA.cuerpo}}
        </textarea>
    </section>
    <section class="seccion3 border">
        <div class="calificar border">
            <label for="califica">Califica este blog:</label>
            <img id="megusta" src="/assets/images/like.svg" alt="like">
            <label id="Nmegusta"for="likes">{{blogA.megusta}}</label>
            <img id="nomegusta" src="/assets/images/dislike.svg" alt="dislike">
            <label id="Nnomegusta" for="dislikes">{{blogA.nomegusta}}</label>
        </div>
        <div class="comentario border">
            <form [formGroup]="form">

                <h1 class="font-bold mb-20 m-0 display-block">Deja un comentario a continuacion:</h1>

                <label for="comentarioB">Comentar *</label><br>
                <textarea nz-input type="text" formControlName="comentarioB"></textarea>
                <div *ngIf="form.get('comentarioB')?.invalid && (form.get('comentarioB')?.dirty || form.get('comentarioB')?.touched)">
                    <div *ngIf="form.get('comentarioB')?.hasError('required')">El comentario es requerido.</div>
                    <div *ngIf="form.get('comentarioB')?.hasError('pattern')">No se acepta numeros.</div>
                </div><br><br>

                <label for="nombreCom" nombre="nombreBI" id="nombreBI">Nombre *</label>
                <input nz-input [(ngModel)]="nombreCompleto" [readonly]="true" placeholder="Aparece al verificar su correo electrónico" id="nombreCom" class="text-md rounded px-15 py-12 w-full" type="text" formControlName="nombreCom">
                <div *ngIf="form.get('nombreCom')?.invalid && (form.get('nombreCom')?.dirty || form.get('nombreCom')?.touched)">
                    <div *ngIf="form.get('nombreCom')?.hasError('required')">El nombre es requerido.</div>
                    <div *ngIf="form.get('nombreCom')?.hasError('pattern')">No se acepta numeros.</div>
                </div><br>

                <label for="emailCom">Correo electrónico *</label>
                <input [(ngModel)]="abogado.email" nz-input placeholder="Correo electrónico" class="text-md rounded px-15 py-12 w-full" 
                type="email" formControlName="emailCom" >
                <div *ngIf="form.get('emailCom')?.invalid && (form.get('emailCom')?.dirty || form.get('emailCom')?.touched)">
                    <div *ngIf="form.get('emailCom')?.hasError('required')">El correo es requerido.</div>
                    <div *ngIf="form.get('emailCom')?.hasError('pattern')">El correo debe ser válido.</div>
                </div><br>

                <button nz-button nzType="primary" style="min-width: 30px" (click)="validar()">PUBLICAR COMENTARIO</button>
                &nbsp;
                <button nz-button nzType="primary" style="min-width: 30px" (click)="obtenerAbogado()">Verificar</button>

            </form>    
        </div>
    </section>
    <section id="seccionComentarios" class="seccion4 border">
        <div>
            <h1 class="font-bold mb-20 m-0 display-block" style="text-decoration: underline;">Comentarios</h1>
        </div>

        <div class="comment">
            <div class="comment-header">
              <img src="/assets/images/usuario.svg" alt="Avatar del autor">
              <h4 class="comment-author">Autor1</h4>
              <span class="comment-date">Abril 22, 2023 11:52:12 PM</span>
            </div>
            <div class="comment-body">
              <p>Contenido del comentario, este es un excelnete blog.........................</p>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
              <img src="/assets/images/usuario.svg" alt="Avatar del autor">
              <h4 class="comment-author">Autor2</h4>
              <span class="comment-date">Abril 22, 2023 11:52:12 PM</span>
            </div>
            <div class="comment-body">
              <p>Contenido del comentario, este es un excelnete blog.........................</p>
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
              <img src="/assets/images/usuario.svg" alt="Avatar del autor">
              <h4 class="comment-author">Autor3</h4>
              <span class="comment-date">Abril 22, 2023 11:52:12 PM</span>
            </div>
            <div class="comment-body">
              <p>Contenido del comentario, este es un excelnete blog.........................</p>
            </div>
        </div>

    </section>

</div>



