<div class="container">

    <section class="seccion1 border">
        <div class="tituloAutor border">
            <img src="../Imagen/fondoBlog.jpg" alt="fondoBlog2">
            <div class="textoEncima">
                <h1>Blog Post Title</h1>
                <p>
                    dia mes anio Por Autor Blog
                </p>
            </div>
            
        </div>
        <div class="imagenB border">
            <img src="../Imagen/imagenBlog.jpg" alt="imagenBlog" >
        </div>

        <div class="compartir">
            <a href="https://www.facebook.com">
                <img src="../Imagen/facebook.svg" alt="facebook" class="compartirTam" >
            </a>
            <a href="https://www.instagram.com/">
                <img src="../Imagen/instagram.svg" alt="instagram" class="compartirTam">
            </a>
            <a href="https://twitter.com/">
                <img src="../Imagen/twitter.svg" alt="twitter" class="compartirTam">
            </a>
            <a href="whatsapp://send?text=Hola%20WhatsApp!">
                <img src="../Imagen/whatsapp.svg" alt="whatsapp" class="compartirTam">
            </a>
        </div>
    </section>
    <section class="seccion2 border">
        <textarea type="text" name="informacionB" id="informacionB">
            AQUI VA TODA LA INFORMACION DE UN BLOG CREADO
        </textarea>
    </section>
    <section class="seccion3 border">
        <div class="calificar border">
            <label for="califica">Califica este blog:</label>
            <img id="megusta" src="../Imagen/like.svg" alt="like">
            <label id="Nmegusta"for="likes">346</label>
            <img id="nomegusta" src="../Imagen/dislike.svg" alt="dislike">
            <label id="Nnomegusta" for="dislikes">231</label>
        </div>
        <div class="comentario border">
            <form action="#" method="GET" enctype="application/x-www-form-urlencoded">
                <fieldset>
                    <!--<legend>Mi form</legend>-->

                    <h1 >Deja un comentario a continuacion:</h1>
                    <label for="comentarioB">Comentar *</label><br>
                    <textarea type="text" name="comentarioB" id="comentarioBI" required ></textarea><br>
                    <label for="nombre">Nombre *</label>
                    <input type="text" name="nombre" id="nombreBI" required><br>
                    <label for="email">Correo electrónico *</label>
                    <input type="email" name="email" id="emailBI" required><br>
                    <button type="button" onclick="validarFormulario()">PUBLICAR COMENTARIO</button>
                </fieldset>
            </form>    
        </div>
    </section>
    <section id="seccionComentarios" class="seccion4 border">
        <div>
            <h1 style="text-decoration: underline;">Comentarios</h1>
        </div>


    </section>

</div>



