<ng-container *nzModalTitle>
	<div class="px-20 py-15 justify-center flex items-center flex-no-wrap">
		<h4 class="display-block m-0 font-bold mr-7">Token de acceso</h4>
	</div>
</ng-container>

<div class="w-full bg-comprobante py-25 px-30">

	<p class="text-center display-block text-black m-0">Estimado socio, por favor, coloque el código de acceso de 6 dígitos que le hemos enviado a su correo electrónico y vía SMS.</p>

	<ng-container *ngIf="errors && errors.length > 0">
		<div class="w-full mt-20 px-10 py-7 border-1 border-solid border-red-700 bg-redgray rounded-sm">
			<ng-container *ngFor="let e of errors; let isLast = last">
				<p
					class="text-red-800 display-block m-0"
					[ngClass]="{'mb-7': !isLast}">{{ e.text }}</p>
			</ng-container>
		</div>
	</ng-container>

	<div class="w-full">
		<form
			[formGroup]="form"
			class="my-30 w-full grid gap-15 mx-auto" style="max-width: 32rem;">
			<ng-container *ngFor="let input of formInputs; let i = index">
				<input nz-input #formRow [formControlName]="input"
					(paste)="onPaste($event)"
					(keyup)="keyUpEvent($event, i)"
					(focus)="checkForDeleteBefore(i)"
					class="grid-col-2 text-center" nzSize="large" maxlength="1" type="text">
			</ng-container>
		</form>
	</div>

	<div class="w-full text-center">
		<button (click)="verificarToken()" [nzLoading]="isLoading" nz-button nzType="primary" class="btn-secondary w-full" style="max-width: 14rem;">ACEPTAR</button>
	</div>

	<ng-container *ngIf="intentos > 2">
		<div class="w-full text-center mt-15">
			<button (click)="_modal.close(false)" nz-button class="btn-secondary w-full" style="max-width: 14rem;">SALIR</button>
		</div>
	</ng-container>

</div>
