<div class="w-full p-20 pt-40 max-width mx-auto" style="max-width: 120rem;">    

    <div class="w-full grid">
        <div class="grid-col-6" style="border: 1px solid;">
            <h2 class="font-bold mb-20 m-0 display-block text-left">Gestion Legal</h2>

            <p class="display-block text-md">
                Nuestro servicio web ofrece un conjunto completo de herramientas para ayudar a los abogados a simplificar su trabajo diario. Con funciones personalizables y una interfaz fácil de usar, nuestra plataforma todo en uno ofrece desde gestión de casos hasta generación de documentos legales, organización de calendarios y comunicación con clientes. ¡Únase hoy mismo a nuestra comunidad de abogados exitosos!
            </p>

            <button nz-button nzType="primary" style="min-width: 30px;">Comenzar ahora</button>
        </div>
        <div class="grid-col-6" style="border: 1px solid;">
            <img src="/assets/images/herramientas.png" alt="preview" class="w-full">
        </div>

        <div class="grid-col-12 bg-gray-100" style="border: 1px solid;">
            <h2 class="font-bold mb-20 mt-50 m-0 display-block text-center">Lo que nuestros clientes dicen:</h2>
            <div class="w-full flex flex-wrap" style="border: 1px solid;">
                <div class="flex flex-wrap bg-white p-20 justify-center" style="max-width: 30%;">
                    <p class="display-block text-md">"GestiónLegal me ha ayudado a organizar mejor mis casos y aumentar mi productividad. ¡Lo recomiendo altamente!"</p>
                    <cite>John Doe, Abogado en ejercicio</cite>
                </div>
            </div>
        </div>
    </div>

</div>