.container{
    display: grid;

    grid-template-areas:
        "tituloP"
        "datosC"
        "formulario"
    ;

    /*grid-template-columns: 100%; */
    grid-template-rows: auto auto auto;

    height: 100vh;
    /*grid-gap: 20px;*/

    .seccion1{
        grid-area: tituloP;
        
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        text-decoration: underline;
        background-color: #f5f5f5;

        img{
            width: 50px;
            height: 50px;
        }
         
    }

    .seccion2{
        grid-area: datosC;
    
        display: grid;
        grid-template-areas: 
        "asesor1 asesor2 correo whats"
        ;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        background-color: #f5f5f5;

        .widget1{
            grid-area: asesor1;
        }
        .widget2{
            grid-area: asesor2;
        }
        .widget3{
            grid-area: correo;
        }
        .widget4{
            grid-area: whats;
        }
        .widget1,.widget2,.widget3,.widget4{
            
            display: flex;
            align-items: center;
            justify-content: center;
            /*margin: 10px;*/
        }

        .imagen-seccion2{
            max-width: 30%;
            height: 150px;
        }

        .imgagen-whats{
            width: 50px;
            height: 50px;
        }
        
        .espacioI{
            padding:15px;
        }


    }

    .seccion3{
        grid-area: formulario;
    
        display: grid;
        grid-template-areas: "imagenF camposF";
        grid-template-columns: 1fr 1fr;
        /*grid-gap: 20px;*/

        .imagenF{
            grid-area: imagenF;

            img{
                max-width: 100%;
                max-height:100%;
            }
        
        }
        .camposF{
            grid-area: camposF;
            background-color: #f5f5f5;

            form{
                fieldset{
                    width: auto;
                    height: 100%;
                    padding: 100px;
                    //box-shadow: 0 4px 8px 0 black;

                    h1{
                        text-decoration: underline;
                    }

                    input{
                        width: 400px;
                        height: 40px;
                        //border-color: black;
                        //border-radius: 15px;
                        margin-bottom: 15px;
                    }

                    textarea{
                        width: 400px;
                        height:200px;
                        //border-radius: 5px;
                    }

                    #nombreC {
                        text-transform: uppercase;
                      }

                }
            }

        }
        
        .imagenF,.camposF{
            display: flex;
            align-items: center;
            justify-content: center;
            /*margin: 10px; */
        }

    }
    
    .border{
        border: 0px solid black;
    }

    .border2{
        border: 1px solid #ccc;
    }

}

@media screen and (max-width: 768px) {

    .container{
        grid-template-areas:
            "tituloP"
            "datosC"
            "formulario"
        ;
        grid-template-columns: 1fr;
        /*grid-template-rows: auto auto auto 500px auto; */

        .seccion2{
            grid-template-areas: "asesor1" "asesor2" "correo" "whats";
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            
        }

        .seccion3{
            grid-template-areas: "imagenF" "camposF";
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            
            .camposF{
                form{
                    fieldset{
                        padding: 10px;
                    }
                }
            }


        }

    }
}