<div class="w-screen h-screen grid grid-15">

	<div class="grid-col-8 sm:display-none bg-theme-primary"></div>

	<div class="grid-col-15 sm:display-block display-none bg-theme-primary"></div>

	<div class="grid-col-7 sm:grid-col-15 flex sm:display-block items-center">
		<ng-container *ngIf="socios && socios.length > 0; else form_login">
			<ng-container [ngTemplateOutlet]="seleccion_socio"></ng-container>
		</ng-container>
	</div>

</div>

<ng-template #form_login>
	<form
		[formGroup]="formCrendeciales"
		class="p-20 w-full mx-auto grid" style="max-width: 47rem;">
		<div class="grid-col-12 mb-10">
			<p class="font-bold text-lg display-block mb-7 m-0 text-theme-primary">
				Banca<span class="font-bold text-lg display-inline-block m-0 text-theme-secondary">Virtual</span>
			</p>

			<h3 class="grid-col-12 m-0 display-block font-bold">Iniciar Sesión</h3>
		</div>


		<ng-container *ngIf="mensajes && mensajes.length > 0">
			<div class="grid-col-12 px-10 py-7 border-1 border-solid border-green-700 bg-greengray rounded-sm">
				<ng-container *ngFor="let e of mensajes; let isLast = last">
					<p
						class="text-green-900 display-block m-0"
						[ngClass]="{'mb-7': !isLast}">{{ e.text }}</p>
				</ng-container>
			</div>
		</ng-container>

		<nz-input-group nzAddOnBeforeIcon="user" class="grid-col-12">
			<input nz-input formControlName="usuario" placeholder="Nombre de usuario" type="text" class="w-full py-5">
		</nz-input-group>

		<nz-input-group nzAddOnBeforeIcon="lock" class="grid-col-12">
			<input nz-input formControlName="clave" placeholder="Contraseña" type="password" class="w-full py-5">
		</nz-input-group>

		<ng-container *ngIf="errors && errors.length > 0">
			<div class="grid-col-12 px-10 py-7 border-1 border-solid border-red-700 bg-redgray rounded-sm">
				<ng-container *ngFor="let e of errors; let isLast = last">
					<p
						class="text-red-800 display-block m-0"
						[ngClass]="{'mb-7': !isLast}">{{ e.text }}</p>
				</ng-container>
			</div>
		</ng-container>

		<button nz-button type="button" (click)="validarIdentidad()" nzType="primary"
			class="mt-10 grid-col-12"
			[nzLoading]="isLoading">Acceder</button>

		<a nz-button type="button" routerLink="../registro"
			class="grid-col-12"
			[nzLoading]="isLoading">Registrarse</a>

		<div class="grid-col-12">
			<a href="/recuperar-clave"
				class="text-lightblue-600 hover:text-lightblue-900 text-center display-block m-0 py-5">Olvidé mi clave de acceso</a>
			<a href="/recuperar-usuario"
			class="text-lightblue-600 hover:text-lightblue-900 text-center display-block m-0 py-5">Olvidé mi nombre de usuario</a>
		</div>
	</form>
</ng-template>

<ng-template #seleccion_socio>
	<div class="p-20 w-full mx-auto grid" style="max-width: 47rem;">
		<div class="grid-col-12">
			<h4 class="font-bold m-0 display-block">Seleccione una cuenta</h4>
		</div>

		<ng-container *ngIf="errors && errors.length > 0">
			<div class="grid-col-12 px-10 py-7 border-1 border-solid border-red-700 bg-redgray rounded-sm">
				<ng-container *ngFor="let e of errors; let isLast = last">
					<p
						class="text-red-800 display-block m-0"
						[ngClass]="{'mb-7': !isLast}">{{ e.text }}</p>
				</ng-container>
			</div>
		</ng-container>

		<ng-container *ngFor="let s of socios">
			<div
				(click)="seleccionarCuenta(s.codigo)"
				[ngClass]="{'cursor-not-allowed': isLoading}"
				class="grid-col-12 hover:scale border-solid border-1 color-box-border rounded px-10 py-7 cursor-pointer flex items-center flex-no-wrap">
				<img [src]="'https://avatars.dicebear.com/api/initials/' + s.nombres + ' ' + s.apellidoPaterno + '.svg'"
					class="display-block mr-10 rounded-full w-40 h-40">

				<div>
					<p class="display-block m-0 text-md font-bold text-primary">
						{{ s.nombres }} {{ s.apellidoPaterno }} {{ s.apellidoMaterno }}
					</p>
				</div>
			</div>
		</ng-container>

		<div class="grid-col-12">
			<a (click)="setearDefecto()" class="text-lightblue-600 hover:text-lightblue-900 text-center display-block m-0 py-5">Iniciar sesión con otros credenciales</a>
		</div>
	</div>
</ng-template>
