<div class="container">

      <section class="seccion1 border">

          <div class="docTitle border">
              <!-- <h1>Documentos</h1> -->
              <h1 class="font-bold mb-20 m-0 display-block">Documentos</h1>
          </div>
          <!-- <div class="busqueda border">
              <input nz-input type="text" placeholder="BUSQUEDA" class="border-purplegray bg-purplegray text-theme-primary text-md rounded px-15 py-10 w-full">
            
          </div> -->
      </section>
      <section class="seccion2 border">
        <div class="camposD">
            <form class="border2" [formGroup]="form">
                <h4 >Datos del Documento</h4><br>
                

                <label  class="m-0 mb-7">ID:</label><br>
                <input [(ngModel)]="doc.id_documento" [readonly]="true" nz-input placeholder="ID carga al editar un doc" 
                  formControlName="idDoc" type="text" class="text-md rounded px-15 py-12 w-full"><br><br>
                
                <label class="m-0 mb-7">Tipo:</label><br>
                <select [(ngModel)]="doc.tipo" class="text-md rounded px-15 py-12 w-full" id="comboCodigo" formControlName="comboTipo">
                  <option value="null" disabled selected>Selecciona una opción</option>
                  <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('comboTipo')?.invalid && (form.get('comboTipo')?.dirty || form.get('comboTipo')?.touched)">
                  <div *ngIf="form.get('comboTipo')?.hasError('required')">Selecciona un tipo.</div>
                </div><br><br>

                <!-- <label  class="m-0 mb-7">Tipo:</label><br>
                <input [(ngModel)]="doc.tipo" nz-input placeholder="Tipo" type="text" class="text-md rounded px-15 py-12 w-full" formControlName="tipoDoc">
                <div *ngIf="form.get('tipoDoc')?.invalid && (form.get('tipoDoc')?.dirty || form.get('tipoDoc')?.touched)">
                  <div *ngIf="form.get('tipoDoc')?.hasError('required')">El tipo de Doc es requerido.</div>
                  <div *ngIf="form.get('tipoDoc')?.hasError('pattern')">No se acepta numeros.</div>
                </div><br><br> -->
                
                <label class="m-0 mb-7">Nombre:</label><br>
                <input [(ngModel)]="doc.nombre" nz-input placeholder="Nombre" type="text" class="text-md rounded px-15 py-12 w-full" formControlName="nombreDoc">
                <div *ngIf="form.get('nombreDoc')?.invalid && (form.get('nombreDoc')?.dirty || form.get('nombreDoc')?.touched)">
                  <div *ngIf="form.get('nombreDoc')?.hasError('required')">El nombre es requerido.</div>
                  <div *ngIf="form.get('nombreDoc')?.hasError('pattern')">No se acepta numeros.</div>
                </div><br><br>
                
                <label class="m-0 mb-7">Descripción:</label><br>
                <input [(ngModel)]="doc.descripcion" nz-input placeholder="Descripcion" type="text" class="text-md rounded px-15 py-12 w-full" formControlName="descripDoc">
                <div *ngIf="form.get('descripDoc')?.invalid && (form.get('descripDoc')?.dirty || form.get('descripDoc')?.touched)">
                  <div *ngIf="form.get('descripDoc')?.hasError('required')">Una descripcion es requerida.</div>
                  <div *ngIf="form.get('descripDoc')?.hasError('pattern')">No se acepta numeros.</div>
                </div><br><br>         
                
                <button nz-button nzType="primary" style="min-width: 30px" (click)="validar()">Guardar</button>
                <button nz-button nzType="primary" style="min-width: 30px" (click)="validar2()">Guardar Cambios</button>

            </form>
        </div>
        <div class="cargarD">
            <form class="border2">
                <h4 >Subir el Documento</h4><br>
                <label class="m-0 mb-7">Documento:</label><br>
                
                <!-- <input [value]="nameFile" nz-input placeholder="Documento" class="text-md rounded px-15 py-12 w-full" readonly><br><br> -->
                <!-- <span>Adjunta tu file</span> -->
                <input type="file" (change)="getFile($event)">
                <!-- <label for="fileInput" class="custom-file-input">
                  <input type="file" id="fileInput" (change)="getFile($event)">
                  Selecionar archivo
                </label>   -->
                <!-- <button nz-button type="file" (change)="getFile($event)"
                  nzType="primary" style="min-width: 30px;">Subir Documento</button> -->
            </form>
        </div>

      </section>

      <section class="busqueda">
        <input nz-input type="text" placeholder="BUSQUEDA" class="border-purplegray bg-purplegray text-theme-primary text-md rounded px-15 py-10 w-full">

      </section>

      <section id="seccionDocs" class="seccion3 border2">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Documento</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of ListaDocumentos">
                <th>{{doc.id_documento}}</th>
                <td>{{doc.tipo}}</td>
                <td>{{doc.nombre}}</td>
                <td>{{doc.descripcion}}</td>
                <td>{{doc.documento}}</td>
                <td>
                  <button (click)="obtenerDoc(doc.id_documento!)" nz-button nzType="primary" style="min-width: 30px;">Editar</button>
                </td>
                <td>
                  <button (click)="eliminarDoc(doc.id_documento!)" nz-button nzType="primary" style="min-width: 30px;">Eliminar</button>
                </td>
              </tr>

            </tbody>
          </table>
          

      </section>
</div>
