<div class="container">

      <section class="seccion1 border">

          <div class="docTitle border">
              <!-- <h1>Documentos</h1> -->
              <h1 class="font-bold mb-20 m-0 display-block">Documentos</h1>
          </div>
          <!-- <div class="busqueda border">
              <input nz-input type="text" placeholder="BUSQUEDA" class="border-purplegray bg-purplegray text-theme-primary text-md rounded px-15 py-10 w-full">
            
          </div> -->
      </section>
      <section class="seccion2 border">
        <div class="camposD">
            <form class="border2">
                <h4 >Datos del Documento</h4><br>
                <label class="m-0 mb-7">Tipo:</label><br>
                <input nz-input placeholder="Tipo" type="text" class="text-md rounded px-15 py-12 w-full"><br><br>
                <label class="m-0 mb-7">Nombre:</label><br>
                <input nz-input placeholder="Nombre" type="text" class="text-md rounded px-15 py-12 w-full"><br><br>
                <label class="m-0 mb-7">Descripción</label><br>
                <input nz-input placeholder="Descripcion" type="text" class="text-md rounded px-15 py-12 w-full"><br><br>         
                <button nz-button nzType="primary" style="min-width: 30px;">Guardar</button>
            </form>
        </div>
        <div class="cargarD">
            <form class="border2">
                <h4 >Subir el Documento</h4><br>
                <label class="m-0 mb-7">Documento:</label><br>
                <input nz-input placeholder="Documento" type="text" class="text-md rounded px-15 py-12 w-full"><br><br>        
                <button nz-button nzType="primary" style="min-width: 30px;">Subir Documento</button>
            </form>
        </div>

      </section>

      <section class="busqueda">
        <input nz-input type="text" placeholder="BUSQUEDA" class="border-purplegray bg-purplegray text-theme-primary text-md rounded px-15 py-10 w-full">

      </section>

      <section id="seccionDocs" class="seccion3 border2">
        <table>
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Fecha subida</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Documento</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dato 111111111111111</td>
                <td>Dato 2222222222222</td>
                <td>Dato 333333333333</td>
                <td>Dato 44444444444444444</td>
                <td>Dato 555555555555555</td>
                <td>Dato 66666666666</td>
              </tr>
              <!-- Agrega más filas según sea necesario -->
            </tbody>
          </table>
          

      </section>
</div>
