<div class="w-full h-full p-25">
    <div class="grid w-full">
        <div class="grid-col-12 flex items-center flex-no-wrap" style="gap: 1.5rem">
			<input nz-input placeholder="Buscar..." [(ngModel)]="busqueda" nzSize="large" class="border-purplegray bg-purplegray text-theme-primary text-md rounded px-15 py-10 w-full" type="text">

			<button nz-button class="rounded-smd m-0" nzSize="large" nzType="primary">Nuevo</button>
		</div>

        <nz-table class="grid-col-12">
            <thead>
              <tr>
                <th>Id. Cliente</th>
                <th>Nro. Identificacion</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Tipo Persona</th>
                <th>Actividad Comercial</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of [1, 2, 3] | search:busqueda">
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
                <td>
                  <a>Editar</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>Delete</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>