<div class="w-screen h-screen grid">
	<div class="grid-col-5 bg-theme-primary h-full overflow-auto p-20 flex items-center justify-center"
	style="background-image: url('../../../assets/images/bg-servicios-judiciales.png');
		background-size: cover;
		background-position: center;">
		<!-- <div class="mx-auto w-full" style="max-width: 40rem;">
			<div class="bg-white rounded p-10">

			</div>
		</div> -->
	</div>

	<div class="grid-col-7 h-full overflow-auto p-20 flex items-center justify-center">

		<form [formGroup]="form" class="w-full grid" style="max-width: 42rem;">
			<div class="grid-col-12">
				<a href="../plans" class="display-block">
					<span nz-icon nzType="arrow-left" nzTheme="outline"></span>
					Volver
				</a>
				<h1 class="display-block m-0 font-semibold">Checkout</h1>
			</div>

			<div class="grid-col-12">
				<p class="display-block m-0 text-black mb-7">Producto seleccionado</p>
				<div class="w-full p-10 flex items-center flex-no-wrap border-1 border-solid border-theme-primary rounded">
					<span nz-icon class="display-block m-0 text-xl h-25 text-theme-primary" nzType="container" nzTheme="outline"></span>

					<div class="pl-10">
						<p class="text-md display-block m-0 font-semibold">{{ plan?.nombre }} - {{ plan?.usuariospermitidos }} usuarios</p>
						<p class="display-block m-0 text-gray-700">Periodo suscripción: {{ plan?.duracionmeses }} meses</p>
					</div>
				</div>
			</div>

			<div class="grid-col-12 border-b-1 border-solid border-gray-300"></div>

			<div class="grid-col-12">
				<p class="display-block m-0 text-black mb-7">Detalles de la tarjeta</p>

				<div class="w-full grid" style="gap: 0.7rem">
					<input formControlName="numeroTarjeta" placeholder="1234 1234 1234 1234" nz-input type="text" class="grid-col-12">

					<input formControlName="expiracionTarjeta" placeholder="MM / YY" nz-input type="text" class="grid-col-6">

					<input formControlName="cvvTarjeta" placeholder="CVV" nz-input type="text" class="grid-col-6">
				</div>
			</div>

			<div class="grid-col-12">
				<p class="display-block m-0 text-black mb-7">Titular de la tarjeta</p>

				<input nz-input formControlName="titularTarjeta" type="text" class="w-full">
			</div>

			<div class="grid-col-12">
				<button  [nzLoading]="isLoadingPago" nz-button (click)="realizarPago()" nzType="primary" class="w-full">Pagar {{ plan?.precio | currency: 'USD' }}</button>
			</div>
		</form>

		<p class="w-full">Desarrollado por Paul Villalta</p>
	</div>
</div>

<nz-spin [nzSpinning]="isLoadingPlan" nzSize="large">
</nz-spin>