.container{
    display: grid;
    grid-template-areas: "portada" "busqueda" "blogs";

    grid-template-rows:450px auto auto ;
    
    height: 100vh;

    padding: 15px;

    .seccion1{
        grid-area: portada;
        display: grid;
        grid-template-areas: "portada1 portada2";
        
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 400px;

        padding: 10px;

        .portada1{
            grid-area: portada1;
            position: relative;
            text-align: center;
            display: flex;
            // align-items: center;
            justify-content: center;

            img{
                width: 100%;
                // height: 100%;
                height: 400px;
                object-fit: cover;
            }



            .textoEncima{
                position:absolute;
                padding-top: 300px;
            
            }

            h1{
                padding-top: 10px;
                 background-color: rgb(224, 222, 222);
                border-radius: 10px;
            }
            
        }
        .portada2{
            grid-area: portada2;

            img{
                width: 100%;
                // height: 100%;
                height: 400px;
                object-fit: cover;
            }
        }
                
    }

    .busqueda{
        grid-area: busqueda;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        // background-color: #f5f5f5;

        input[type="text"] {
            width: 900px;
            height: 40px;
            padding-left: 30px; /* Para dejar espacio para el icono */
            font-size: 16px;
            //border: 2px solid #ccc;
            //border-radius: 15px;
            background-image: url('/assets/images/buscar.svg'); /* Ruta a la imagen del icono */
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: 5px center; /* Posición del icono */
            
        }
    }

    .seccion2{
        grid-area: blogs;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // background-color: #f5f5f5;
        // padding: 20px;

        .card{
            box-shadow: 0 4px 8px 0 black;
            margin: 20px 20px;
            // margin-right: 20px;
            // margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;

            text-align: center;
            // height: 200px;
            // width: 100%;

            img{
                // max-width: 100%;
                width: 100%;
                // max-height:100%;
                height:200px;
            }

        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .card-button{
            display: flex;
            // align-self: flex-end;
        }

    }

    .border{
        border: 0px solid black;
    }

    .border2{
        border: 1px solid #ccc;
    }
}

@media screen and (max-width: 768px) {

    .container{
        grid-template-areas:"portada" "busqueda" "blogs";
        grid-template-columns: 1fr;

        .seccion1{
    
            .portada1{
    
                img{
                    width: 100%;
                    // height: 100%;
                    height: 450px;
                    object-fit: cover;
                }
                
            }
            .portada2{

                img{
                    width: 100%;
                    // height: 100%;
                    height: 450px;
                    object-fit: cover;
                }
            }
                    
        }
    

        .seccion2{
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }

        .busqueda { 
            input[type="text"]{
                width: 300px;
            }
        }
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1350px) {

    .container{
        grid-template-areas:"portada" "busqueda" "blogs";
        grid-template-columns: 1fr;

        .seccion2{
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
        }

        .busqueda { 
            input[type="text"]{
            width: 600px;
    
            }
        }
    }
    
}