<div class="container">

    <section class="seccion1 border">
        <div class="portada1 border">
            <img src="/assets/images/portada1Blogs.PNG" alt="portada1Blogs">
            <div class="textoEncima">
                <h1 class="font-bold mb-20 m-0 display-block" style="font-size: 50px;">UNIVERSO JURÍDICO</h1>
                <!-- <p class="font-bold mb-20 m-0 display-block" style="font-weight: bold;">El camino hacia la justicia nunca es o sera facil..!</p> -->
            </div>
        </div>
        <div class="portada2 border">
            <img src="/assets/images/portada2Blogs.jpg" alt="portada2Blogs">
        </div>
    </section>

    <section class="busqueda border">
        <input nz-input type="text" name="buscar" id="buscarBlog" placeholder="BUSQUEDA" required>
    </section>

    <section id="seccionBlogs" class="seccion2 border2">
        <div class="card">
            <h2  class="font-bold mb-20 m-0 display-block">Autor1 - Blog post Title 1</h2>
            <img src="/assets/images/imagenBlog.jpg" alt="Descripción de la imagen 1">
            <p>Abril 22, 2023 11:52:12 PM</p><br>
            <!-- <a routerLink="/blog" class="m-0 border-0 text-base bg-theme-primary hover:bg-theme-primary-dark text-theme-primary-accent rounded-smd cursor-pointer px-20 py-10 hover:text-white">Ver</a> -->
            <button routerLink="/blog" nz-button nzType="primary" style="min-width: 30px;">Ver</button><br><br>
        </div> 

        <div class="card">
            <h2  class="font-bold mb-20 m-0 display-block">Autor2 - Blog post Title 2</h2>
            <img src="/assets/images/imagenBlog2.webp" alt="Descripción de la imagen 1">
            <p>Abril 22, 2023 11:52:12 PM</p><br>
            <button routerLink="/blog" nz-button nzType="primary" style="min-width: 30px;">Ver</button><br><br>
        </div> 

        <div class="card">
            <h2  class="font-bold mb-20 m-0 display-block">Autor1 - Blog post Title 3</h2>
            <img src="/assets/images/imagenBlog.jpg" alt="Descripción de la imagen 1">
            <p>Abril 22, 2023 11:52:12 PM</p><br>
            <button routerLink="/blog" nz-button nzType="primary" style="min-width: 30px;">Ver</button><br><br>
        </div> 

        <div class="card">
            <h2  class="font-bold mb-20 m-0 display-block">Autor2 - Blog post Title 4</h2>
            <img src="/assets/images/imagenBlog2.webp" alt="Descripción de la imagen 1">
            <p>Abril 22, 2023 11:52:12 PM</p><br>
            <button routerLink="/blog" nz-button nzType="primary" style="min-width: 30px;">Ver</button><br><br>
        </div> 

        <div class="card">
            <h2  class="font-bold mb-20 m-0 display-block">Autor1 - Blog post Title 5</h2>
            <img src="/assets/images/imagenBlog.jpg" alt="Descripción de la imagen 1">
            <p>Abril 22, 2023 11:52:12 PM</p><br>
            <button routerLink="/blog" nz-button nzType="primary" style="min-width: 30px;">Ver</button><br><br>
        </div> 

    </section>

</div>

