<div [class]="containerClass"
	(click)="seleccionarCuentaOrigen()">
	<ng-container *ngIf="cuentaOrigen else lyNoSelected">
		<div class="flex justify-between">
			<div>
				<p class="text-smd m-0 color-label-secondary display-block">Destinatario</p>
				<p class="font-bold m-0 text-black display-block">VILLALTA HEREDIA JOSE MIGUEL</p>
			</div>

			<div class="text-right sm:text-left">
				<p class="text-smd m-0 color-label-secondary display-block">Identificación</p>
				<p class="font-bold m-0 text-black display-block">0123456789</p>
			</div>

		</div>

		<p class="mt-12 secondary-label m-0 color-label-secondary display-block">
			Nro. Cuenta:
			<b class="secondary-label display-inline-block m-0 text-black">12343456</b>
		</p>
		<p class="secondary-label m-0 color-label-secondary display-block">
			Tipo cuenta:
			<span class="secondary-label display-inline-block m-0 text-black">
				AHORROS
			</span>
		</p>
		<p class="secondary-label m-0 color-label-secondary display-block">
			Correo:
			<span class="secondary-label display-inline-block m-0 text-black">
				josevillalta@vimasistem.com
			</span>
		</p>
		<p class="secondary-label m-0 color-label-secondary display-block">
			Institución:
			<span class="secondary-label display-inline-block m-0 text-black">
				Juventud Ecuatoriana Progresista
			</span>
		</p>
	</ng-container>
</div>

<ng-template #lyNoSelected>

	<p
		style="user-select: none;"
		class="color-input-placeholder display-block m-0">{{ placeholder }}</p>

</ng-template>
